@{
    ViewBag.Title = "Delete";
}

<form method="post">
    <hr />
    <h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
    <hr />
    <button type="submit" class="btn btn-danger btn-block">Да</button>
</form>
